.about-main {
   background-color: darkblue;
   color: #fff;
}

.about-section {
   /* background-color: green; */
   padding: 0.7rem;

   & h2 {
      width: max-content;
      margin: 0rem auto;
   }

   & article {
      background-color: blue;
      margin: 0.5rem 0rem;
      border-radius: 0.625rem;
      margin: 0.5rem auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;

      & img {
         margin: 0.7rem auto;
         border-radius: 10px;
         width: 280px;
         /* height: 12.5rem; */
      }

      & .staff-info {
         margin: 0rem auto;
         padding: 0.5rem;

         & h3 {
            font-weight: 600;
         }

         & span {
            font-weight: 600;
         }
      }
   }
}





.attribution {
   background-color: #ffffff30;
   padding: 0.5rem;
   border-radius: 0.625rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   margin: 0rem auto;

   & img {
      width: 6.25rem;
      margin-top: 0.7rem;
   }
   & p {
      font-size: 1.1rem;

      & em {
         font-weight: 700;
      }

      & a {
         text-align: center;
      }
   }
}