.about-main {
   background-color: darkblue;
   color: #fff;
}

.about-section {
   padding: 0.7rem;
   display: flex;
   flex-direction: column;
   justify-content: center;

   & h2 {
      width: max-content;
      margin: 0rem auto;
   }

   & .about-info {
      max-width: 800px;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      margin: 0rem auto;

      & .bold{
         font-weight: 800;
      }
   }

   & .article-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      column-gap: 1rem;
   }

   & article {
      background-color: blue;
      margin: 0.5rem 0rem;
      border-radius: 0.625rem;
      margin: 0.5rem auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      max-width: 25rem;
      height: 900px;

      & img {
         margin: 0.7rem auto;
         border-radius: 0.625rem;
         width: 17.5rem;
         height: 12.5rem;
      }

      & .staff-info {
         margin: 0rem auto;
         padding: 0.5rem;

         & h3 {
            font-weight: 600;
         }

         & span {
            font-weight: 600;
         }
      }
   }
}


@media(min-width: 43.75rem) {
   .about-section .article-container {
      flex-direction: row;
   }
}

@media(min-width: 1100px) {
   .about-section .article-container {
      max-width: 950px;
      justify-content: center;
      margin: 0rem auto;
   }
}


.attribution {
   background-color: #ffffff30;
   padding: 0.5rem;
   border-radius: 0.625rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   margin: 1rem auto;
   max-width: 95%;


   & img {
      width: 6.25rem;
      margin-top: 0.7rem;
   }

   & p {
      font-size: 1.1rem;

      & em {
         font-weight: 700;
      }

      & a {
         text-align: center;
      }
   }
}

@media(min-width: 43.75rem) {

   .attribution {
      margin-top: 2rem;
      max-width: 70%;
      text-align: center;

      & img {
         margin: 0.7rem auto;
      }
   }
}