/* Mobile nav Style*/

/* logo and menu section*/
.logo-menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.3rem;
   width: 100%;
   z-index: 100;
}

/*Menu SVG*/

.menu_svg {
   background-color: transparent;
   margin: 0.3rem;
   padding: 0.3rem;
   border-radius: 3px;
   width: 13%;
   border: none;
   position: relative;
   right: 0;
   top: 0;
   z-index: 2000;

   & svg {
      & path {
         padding: 1rem;
         fill: #FFF;
      }
   }
}

.menu_svg svg:active {
   margin: 1%;
   transition: transform 50ms;
   transform: scale(1.3, 1.3);
   border-radius: 0.1875rem;

   & path {
      fill: blue;
   }
}

/* logo*/
.mobile-logo {
   width: 8.125rem;
}

.mobile-logo:active {
   transition: transform 30ms;
   transform: scale(1.03);
}

/* Nav Styling*/
.mobileNav {
   display: flex;
   width: 70%;
   height: 100vh;
   margin-left: 30%;
   position: absolute;
   opacity: 90%;
   top: 5.0625rem;
   left: 0;
   z-index: 1000;
   visibility: hidden;
   
   & .links-search {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 7rem;
      align-items: center;
      width: 100%;
      height: 90vh;
      background-color: #FFF;
      border-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
   }

   & .svg-close {
      margin: 3rem 0 0 5rem;

      & svg {
         width: 2.5rem;
         padding: 0rem;
      }
   }

   & ul {
      list-style: none;
      padding: 0;
      margin: 0;
   }

   & li {
      margin: 1rem auto;
   }

   & a {
      text-decoration: none;
      font-size: 1.5rem;
      padding: 0.3rem;
   }

   & a:visited {
      color: blue;
   }

   & a:active {
      color: lightblue;
      outline: solid 2px blue;
      border-radius: 5px;
   }

}

.mobileNavShow {
   transform: translateX(0);
 visibility: visible;
}