.fav-main {
   background-color: darkblue;
   color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   & .favDisplay {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin:  1rem auto;
   }

   & p {
      font-size: 2rem;
      text-align: center;
   }
}