.categories {
   background-color: darkblue;
   width: 100%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 1rem;

   & h1{
      font-size: 3rem;
      font-weight: 900;
      color:#fff;
      text-align: center;
      line-height: 1;
   }

   & .backButton {
      width: 5.625rem;
      height: 3.125rem;
      margin: 0.5rem auto;
      background-color: none;
      text-align: center;
      font-size: 1.5rem;
      background-color: transparent;
      border: none;
      color: #fff;
   }

   & .backButton:hover,
   .backButton:active {
      text-decoration: underline;
      background-color: #ffffff2d;
      border-radius: 10px;
   }

   & .articles {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: center;
      margin-top: 2rem;
   }
}

.main-articles {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   column-gap: 2rem;
}