.categories {
   background-color: darkblue;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 1rem;

   & .backButton {
      width: 12%;
      margin: 0.5rem auto;
      padding: 0.2rem;
      background-color: none;

   }

   & .articles {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: center;
      margin-top: 2rem;
   }
}