.mainHeader {
   background-color: darkblue;
   width: 100%;
   height: auto;
   padding-bottom: 56.25%;
   position: relative;

   & .videoPlayer {
      margin: 0rem auto;
      object-fit: cover;
      position: absolute;
      top: 1;
      left: 0;
   }

}

.muteButton {
   /* background-color: #FFF; */
   width: 30px;
   /* color: blue; */
   padding: 0.0437rem;
   margin: 0.3rem;
   border-radius: 1px;
   border: none;
   position: relative;
   top: 180%;
   left: 85%;
   z-index: 200;
}

.svg {
   width: 25px;
   height: 25px;
   padding: 0.1rem;
   background-color: transparent;
}

/* change the outline for the unmute button*/