.mainHeader {
   background-color: aquamarine;
   width: 100%;
   height: 100vh;
   position: relative;
   top: 0;
   margin: 0;
   & .Nav {
      position: fixed;
      top: 0;
      z-index: 100;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(240, 248, 255, 0.5);
      /* visibility: hidden; */
   }
      
   .Nav img {
      width: 250px;
      margin: 10%;
   }
   
   .Nav ul {
      display:flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 1.2rem;
      list-style: none;
      margin-right: 1.5%;
      padding: 1rem;
      font-size: 1.5rem;
      
      & li a {
         text-decoration: none;  
         color: blue;
         padding: 0.5rem;   
         text-align: start; 
      }

      & li a:hover {
         /* text-decoration: underline; */
         box-shadow: 0.5px 0.5px 3px rgba(0, 0, 255, 0.279), 
         -0.3px -0.3px 3px;
         border-radius: 5px;
      }
   }
   /* & .Nav:hover {
      position: relative;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: aliceblue;
      visibility: visible;
   } */

   & .links-search {
      display: flex;
    align-items: center;
    margin-right: 3rem;
   }
}
