.backButton {
   width: 5.625rem;
   height: 3.125rem;
   margin: 0.5rem auto;
   background-color: none;
   text-align: center;
   font-size: 1.5rem;
   background-color: transparent;
   border: none;
   color: #fff;
}

.backButton:hover,
.backButton:active {
   text-decoration: underline;
   background-color: #ffffff2d;
   border-radius: 10px;
}

.movie-container .backButton {
   border-radius: 10px;
   background-color: rgb(4, 4, 120);
   width: 5.625rem;
   height: 3.125rem;
   margin: 0.5rem auto;
   text-align: center;
   font-size: 1.5rem;
   border: none;
   color: #fff;
}