.MovieArticle {
   display: flex;
   flex-direction: column;
   justify-self: center;
   align-items: center;
   flex-wrap: wrap;
   max-width: 400px;
   background-color: aquamarine;
   margin-bottom: 3rem;

   &.MovieDetails {
      display: none;
   }

   &.MoviesDetails:hover {
      display: block;

      & h3,
      p {
         padding: 0rem 1rem;
      }

      & .numberInfo {
         display: flex;
         flex-direction: row;
         justify-content: space-evenly;
         column-gap: 3rem;
      }
   }


}


.cast {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;

   & figure img {
      width: 150px;
   }
}